li {
  position: relative;
  background-color: #f4f4f4;
  margin: 0.25rem;
  padding: 0.5rem 1.5rem;
  transition: 50ms ease-out all;
  cursor: pointer;

  h3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  fa-icon.btn-delete {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    inset: 50% 1rem 50% auto;
    color: red;
    font-size: 1.2em;
  }

  h3, p {
    user-select: none;
  }
}

li:not(.reminder) {
  border-left: 0.25rem solid transparent;
}

li.reminder {
  border-left: 0.25rem solid green;
}
