button {
  background-color: #000;
  width: 100%;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-bottom: 0.5rem;
  border-radius: 5px;
  font-size: 15px;
  font-family: inherit;
  cursor: pointer;
}

button:focus {
  outline: none;
}

button:active {
  transform: scale(0.98);
}