<form *ngIf="showAddTask" (ngSubmit)="handleSubmit()">
  <div class="form-control">
    <label for="name">Task</label>
    <input type="text" id="name" name="name" [(ngModel)]="name" placeholder="Add a name" />
  </div>
  <div class="form-control">
    <label for="description">Description</label>
    <input type="text" id="description" name="description" [(ngModel)]="description" placeholder="Add a description" />
  </div>
  <div class="form-control form-control-check">
    <label for="reminder">Mark as important?</label>
    <input type="checkbox" id="reminder" name="reminder" [(ngModel)]="reminder" />
  </div>
  <button type="submit">Save Task</button>
</form>